.dropDownProfile {
  border-radius: 20px;
  padding: 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  right: 10px;
  z-index: 1;
  top: 22%;
  max-height: 14rem;
  width: 20rem;
  position: absolute;
}

.filter-header {
  font-weight: 700;
  color: var(--primary-text);
  padding: 0 1rem;
  padding-bottom: 0.2rem;
  border-bottom: var(--primary-colorTwGrey2-lighter3) 1px solid;
  letter-spacing: 2px;
}

.filter-btn-styling {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.5rem;
  border-radius: 10px;
  transition: background 0.3s ease;
  text-decoration: none;
  color: #303030;
  width: 100%;
  margin-bottom: 1rem;
}

.filter-btn-styling:hover {
  background: rgba(255, 255, 255, 0.856);
  transform: translateY(-2px);
  color: #ef745b;
}

.filter-icon-styling {
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  color: #ef745b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
}

.filter-icon-styling:hover {
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: 0.2s ease;
  border: 1px solid white;
  transform: translateY(-2px);
}

.filter-btns {
  margin: auto;
  margin-top: 0.2rem;
}
