.patients-table-data .admin {
}

.med-table-styling {
  width: 20%;
  max-width: 20%;
}

.expanded {
  white-space: nowrap;
  width: 20rem;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto 0;
}

.med-client-container {
  height: fit-content;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 60px;
  -webkit-background-clip: border-box;
  width: 100%;
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.med-table-style-container {
  min-height: 60vh;
  max-height: 60vh;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.med-table {
  height: 100%;
}

.patients-table-data-med {
  border: 1px solid var(--loginshadow);
  font-size: 0.8rem;
}

.meds-table-header {
  color: var(--primary-Tab-toplink);
  background-color: var(--primary-colorTwGrey2-lighter4);
}

.appointment-link-medication {
  color: var(--primary-text);
  transition: 0.2s ease;
  background-color: transparent;
  border: transparent;
  font-weight: 700;
}
.link-icon-styling {
  font-size: 0rem;
  margin-left: 0.5rem;
}

.appointment-link-medication:hover {
  color: var(--primary-colorrTwRed2);
}
