.dash-dropDownProfile {
  position: absolute;
  border-radius: 20px;
  padding: 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  right: 0;
  z-index: 1;
  top: 30%;
  max-height: 14rem;
  width: 20rem;
}

.dash-content-container {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.dash-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.5rem;
}

.dash-filter-btn-styling {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.5rem;
  border-radius: 10px;
  transition: background 0.3s ease;
  text-decoration: none;
  color: #303030;
}

.dash-filter-btn-styling:hover {
  background: rgba(255, 255, 255, 0.856);
  transform: translateY(-2px);
  color: #ef745b;
}
