.counter {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    height: fit-content;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 12px;
    height: 2rem;

    background: rgba(255, 255, 255, 0.733);
    backdrop-filter: blur(14px) saturate(180%);
    -webkit-backdrop-filter: blur(14px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  &__number {
    font-weight: 200;
    font-size: 64px;
    margin-bottom: 0;
  }

  &__title {
  }
}

.monthly-counter {
  margin-left: auto;
}
