.message-details-container {
  height: 90%;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.message-details-container::-webkit-scrollbar {
  width: 0;
}

.request-date-styling {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 0.9;
  color: white;
}

.request-title-styling {
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.5rem;
}

.request-greeting {
  margin-top: 1.5rem;
  font-size: 1rem;
  width: 95%;
  line-height: 1.5;
  color: black;
}

.request-details {
  margin-top: 1.5rem;
  width: 95%;
  height: auto;
  min-height: 50%;
  font-size: 0.9rem;
  line-height: 1.6;
  color: black;
}

.request-btn-container {
  width: 95%;
  text-align: end;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.request-delete-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  min-width: 6rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  background: #c1151bce;
  color: #fff;
  border: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(193, 21, 27, 0.25);
}

.request-delete-btn:hover {
  background: #ffffffd0;
  color: #c1151bce;
  border: 1px solid #c1151bce;
  border-radius: 6px;
  transform: translateY(-2px);
}

.request-delete-icon {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.fav-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.star {
  fill: #cdcdcd;
  transition: fill 200ms, transform 0.2s ease;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.star.active {
  fill: #ffa600;
  animation: fav 600ms ease;
}

@keyframes fav {
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.container-hide {
  display: none;
}
