.dash-dropDownProfiles {
  border-radius: 20px;
  padding: 1rem 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  right: 10px;
  z-index: 1;
  top: 10px;
  max-height: 14rem;
  width: 20rem;
  position: absolute;
}

.options-container {
  margin: auto 0 auto auto;

  transition: 0.2s ease-in;
}

.flex-container-recent-patients {
  min-height: 4rem;
  margin: 0;
}

.RecenetFlagged-top-container {
  grid-column: 4 / span 2; /* starts at column 4, spans 2 columns */
  grid-row: 1 / 2; /* starts at row 1, spans 2 rows */
  width: 100%;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.RecenetFlagged-container {
  border-radius: 60px;
  padding: 1rem 3rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  height: 100%;
}

.RecenetFlagged-container .request-login-heading {
  margin: 0;
  color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-login-heading span {
  font-size: 3rem;
  font-weight: 300;
}

.flagged-bars {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 100%;
}

.RecenetFlagged-container .bar__negative {
  width: 5%;
  min-width: fit-content;
}

.RecenetFlagged-container .bar__positive {
  width: 95%;
}

.RecenetFlagged-container .grid-bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.RecenetFlagged-container .grid-bar-item P {
  margin-left: 0.5rem;
}
